

#homecard-container{
    width: 20rem;
    height: 10rem;
    border: 1px solid green;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    padding: 0 1rem;
    box-shadow: rgba(238, 234, 234, 0.271) 0px 19px 19px, rgba(233, 229, 229, 0.22) 0px 0px 15px 5px;

    
}

#homecard-container h4{
    height: 20%;
}
#homecard-container p{
    height: 20%;
}

#img-card{
    width: 18rem;
    height: 20rem;
    border-radius: 15px;
}

#img-name{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
        
}

#img-name p{
    margin-top: 0;
    font-size: 15px;
    
}
