#detail-container{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: -5rem; */
    color: #fff;
}


#place-image{
    width: 40%;
    height: 80%;
    border-radius: 15px;

}

#info{
    width: 40%;
    height: 80%;
    text-align: left;
    margin-top: -1rem;
    
}
#row{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#row-page{
  width: 100%;
    height:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

#info{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}

#control-section{
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

#lang-form{
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

#spinner{
    margin: auto;
    margin-top: 10%;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  @media only screen and (max-width: 700px){
    #row{
      flex-direction: column;
    }

    #info{
      width: fit-content;
      margin: 1rem;
    }
    #place-image{
      width: 80%;
    }
    #control-section{
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }