@import url("https://fonts.googleapis.com/css2?family=Norican&display=swap");
* {
  box-sizing: border-box;
}

#outlet {
  width: 100%;
  min-height: 88vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(46, 79, 79);
  background: linear-gradient(
    172deg,
    rgba(46, 79, 79, 1) 30%,
    rgba(14, 131, 136, 1) 96%
  );
  color: whitesmoke;
  /* overflow-y: hidden; */

  background: url("../../assets/map1.jpg") no-repeat center center/cover; 
  
}

input{
  background: rgba(203, 228, 222, 0.3);
 
}

#header {
  width: 100%;
  height: 12vh;
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgb(44, 51, 51);
  background: linear-gradient(
    172deg,
    rgba(44, 51, 51, 1) 30%,
    rgba(203, 228, 222, 1) 96%
  );
}
#header-col1{
  width: 70%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-col2{
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: right;
  background: rgb(44, 51, 51);
  /* background: linear-gradient(
    172deg,
    rgba(44, 51, 51, 1) 30%,
    rgba(203, 228, 222, 1) 96%
  ); */
  padding-right: 2rem;
  
}

#header-col2 p, #header-col2 button{
  font-size: 12px;
  /* padding: 0; */
}
#user-logout{
  width:15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2rem;
}
#header-logo{
  width: 5rem;

}
#header h2 {
  /* padding-left: 4rem; */
  font-size: 20px;
  font-family: "Norican", cursive;
  margin: 0.5rem;
}


#myMenu {
  /* width: 20%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  
}

.link {
  width: fit-content;
  color: aliceblue;
  /* padding-right: 1rem; */
  margin-right: 1rem;
  border: 1px solid transparent;
  font-size: 15px;
}

.link:hover,
.link:active {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 700px) {
  #main-container {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
  }
  #header {
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    /* position: fixed; */
  }



  #myMenu {
    /* flex-direction: column; */
    width: 100%;
    font-size: 12px;
    margin: auto;
    padding-top:1rem ;

  }
  #header-logo{
    margin: auto;
  }

  #header-col1{
    height: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    margin-top: 1rem;
  }
  #header-col2{
    height: 20%;
  }
  #user-logout{
    width: 100%;
    font-size: 8px;
    justify-content: space-between;
    margin: 0 2rem;
  }

  #user-logout button{
    font-size: 8px;
  }

  #outlet {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 1rem; */
    /* padding-bottom: 2rem; */
   }
}
