

#auc-container{
    width: 15rem;
    height: 15rem;
    /* border: 1px solid #fff; */
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
    box-shadow: rgba(238, 234, 234, 0.271) 0px 19px 19px, rgba(233, 229, 229, 0.22) 0px 0px 15px 5px;
    
}

#auc-container p{
    margin: 0 10px;
    
}

#auc-container h5{
    margin: 5px 10px;
}

#bid-control{
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bid-input{
    width: 50%;
    height: 100%;
    border: 1px solid white;
    border-radius: 15px 0 0 15px;
    padding: 1rem;
    padding-right: 0;
}

#bid-control button{
    height: 110%;
    font-size: 10px;
    border-radius: 0 10px 10px 0;
    border: 1px solid white;

}


@media only screen and (max-width: 700px) {

    #auc-container{
        font-size: small;
        width: 10rem;
        height: 13rem;
        flex-shrink: 0;
    }
   
    #bid-input{
        width: 50%;
        height: 50%;
        border: 1px solid white;
        border-radius: 15px 0 0 15px;
        padding: 1rem;
        padding-right: 0;
        font-size: 10px;
    }
    #bid-control button{
        height: 120%;
        font-size: 10px;
        border-radius: 0 10px 10px 0;
        border: 1px solid white;
    
    }
}