

#joined-container{
    width: 50%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    /* padding: 5px; */
}

#joined-container p{
    margin-top: 0;
    margin-bottom: 0;
    
}

@media only screen and (max-width: 700px){
    #joined-container{
        
        width: 70%;
    
    }
}