

#auc-container{
    width: 15rem;
    height: 13rem;
    border: 1px solid #fff;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#auc-container h5{
    margin-bottom: 0;
}

#bid-control{
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bid-input{
    width: 50%;
    height: 100%;
    border: 1px solid white;
    border-radius: 15px 0 0 15px;
    padding: 1rem;
}

#bid-control button{
    height: 109%;
    font-size: 10px;
    border-radius: 0 10px 10px 0;
    border: 1px solid white;

}