


#dash-nav{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    font-size: 12px;
    /* margin-left:2rem; */
    /* border-bottom: 1px solid #fff; */
    
}

.dash-nav-link{
    margin: 1rem;
    padding: 0.3rem 1rem 0.2rem;
    border-radius: 15px 15px 0 0;
    color: #fff;
    border: 1px solid transparent;
}
.dash-nav-link:hover{
    color: #fff;
    border: 1px solid #fff;
}
/* .dash-nav-link:active{
    background: red;
    color: #fff;
    box-shadow: rgba(238, 234, 234, 0.271) 0px 19px 19px, rgba(255, 255, 255, 0.22) -2px -2px 2px 2px;

    
} */
#outletNav{
    width: 90vw;
    height: 80vh;
}
@media only screen and (max-width: 700px){
    #dash-nav{
        align-items: center;
    }
    #dash-nav ul{
        width: 100%;
        /* border: 1px solid red; */
        /* height: 20rm; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }

    .dash-nav-link{
        margin: 0.2rem;
    }
    #outletNav{
        height: 70vh;
    }
}