

#guide-dash-container{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guide-dash-container p{
    font-size: 10px;
}

#auctions-sec{
    width: 90%;
    height: 42%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#page-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-dash{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

#user-page{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 700px) {

    #auctions-sec{
        width: 100%;
        /* flex-wrap: nowrap; */
        /* overflow-x: scroll; */
    }

}