

#guide-dash-container{
    /* width: 100vw; */
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guide-dash-container p{
    font-size: 10px;
}

#auctions-sec{
    width: 90vw;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: scroll;
    border: 1px solid orange;
    border-radius: 15px;
}

#page-container{
    width: 100%;
   height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 #user-page{
    width: 95vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* margin-top:1rem; */
    /* border: 3px solid white; */
    
}

#open-auctions-user{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orange;
    border-radius: 15px;
}


#closed-auctions{
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-direction: column; */
}

#closed-auctions-display{
    width: 100%;
    display: flex;
    align-items:flex-start;
    overflow-y: scroll;
}

#closed-auctions-guide{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 700px) {

    #auctions-sec{
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
        overflow-x: scroll;
        /* margin-top: -1rem; */
    }

    #page-container{
        width: 100vw;
        height: 75vh;

    }

}