

#guide-dash-container{
    width: 100vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guide-dash-container p{
    font-size: 10px;
}

#auctions-sec{
    width: 90%;
    height: 42%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#page-container{
    width: 100%;
   height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-dash{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

#user-page{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guide-lists{
    width: 90%;
    height: 35%;
    /* border: 1px solid orange; */
    display: flex;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 15px;

}

#joined-auctions{
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
}
.data-table{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#open-auctions{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
#open-auctions-display{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#closed-auctions{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-direction: column; */
}

#closed-auctions-display{
    width: 100%;
    display: flex;
    align-items:flex-start;
    overflow-y: scroll;
}

#closed-auctions-guide{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 700px) {

    #auctions-sec{
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-top: -1rem;
    }

}