#joined-auctions-page{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
}

#guide-lists{
    width: 90vw;
    height: 80%;
    border: 1px solid orange;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 15px;
    /* overflow-y: scroll; */
    /* margin: 3rem 5rem; */
}
#chart{
    width: 50%;
    height: 80%;
}
#joined-auctions{
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
}

.table{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}
.data-table{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: scroll; */
}

#open-auctions{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
#open-auctions-display{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#closed-auctions{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-direction: column; */
}

#closed-auctions-display{
    width: 100%;
    display: flex;
    align-items:flex-start;
    overflow-y: scroll;
}

#closed-auctions-guide{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 700px){
    #guide-lists{
        flex-direction: column;
        height: 100%;
    }
    #joined-auctions{
        width: 100%;
        /* height: 100%; */
        /* overflow-x: scroll; */
        /* flex-wrap: wrap; */
    }
    .table{
        
        height: 80%;
        overflow-x: scroll;
    }
    .data-table{
        width: 100%;
        flex-direction: row;
    }
    #joined-container{
        width: 20rem;
        height: 100%;
    }
    #closed-auctions-guide{
        width: 100%;
        /* overflow-x: scroll; */
    }
    .table{
        overflow-x: scroll;
    }
    #guide-lists{
        padding: 1rem;
    }
    #joined-auctions-page{
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 10px;
        
    }
}