
#won-auctions-guide{
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    
}


.won-table{
    width: 40%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid orange;
    border-radius: 15px;
    overflow-y: scroll;
}

.won-data-table{
    width: 100% !important;
    height: 100%;
    margin: 2rem;
}


@media only screen and (max-width: 700px){
   
    
    .won-table{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-x: hidden;
    }
    .won-data-table{
        width: 50% !important;
        height: fit-content;
        text-align: left;
   }
    
    
 
    /* #joined-auctions-page{
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 10px;
        border: 1px solid white;
    } */
}